

.admin_blog_main {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.admin_aside {
    width: 10%;
    border: 1px solid #000;
    border-radius: 10px;
    height: 400px;
}

.admin_settings {
    width: 88%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
}


