* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@font-face {
   
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto', sans-serif;
}


button:hover {
   cursor: pointer;
}


// Header


.top_header {
   
   background-image: url(assets/images/Bitmap.png);
   background-position: center;
   
   
   background-repeat: no-repeat;
   // background-size: 100%;
   background-size: cover;
   height: 100vh;
   position: relative;
   
}

.top_header::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0,0,0,.5);
   z-index: 2;
}

.nav_bar {
   display: flex;
   padding: 0 20%;
   padding-top: 50px;
   justify-content: space-between;
}

.logo {

   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   color: $main_text_color;
   font-family: 'Montserrat', sans-serif;
   z-index: 3;
}


.modal_windows {
   display: flex;
   justify-content: space-between;
   width: 20%;
   align-items: center;
}

.log_in {

   color: $main_text_color;
   font-size: 14px;
   line-height: 17px;
   font-weight: 400;
   font-family: 'Montserrat', sans-serif;
   z-index: 3;

}

.sign_up {
   color: $main_text_color;
   font-size: 14px;
   line-height: 17px;
   font-weight: 400;
   font-family: 'Montserrat', sans-serif;
   border: 1px solid $main_text_color;
   border-radius: 20px;
   padding: 10px 15px;
   z-index: 3;
}

.log_in,.sign_up {
   cursor: pointer;
}




.top_header_title {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 30%;
   height: 85%;
   margin: 0 auto;
   
}


.title_text {
   
   text-align: center;
   font-size: 52px;
   font-weight: 700;
   font-family: 'Montserrat', sans-serif;
   color: $main_text_color;
   line-height: 64px;
   z-index: 3;
}


.text_subtitle {

   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: 24px;
   font-weight: 300;
   line-height: 24px;
   margin-top: 50px;
   color: $main_text_color;
   z-index: 3;
}

.partner_button {

   text-align: center;
   font-size: 14px;
   font-weight: 700;
   font-family: 'Montserrat', sans-serif;
   color: $main_text_color;
   line-height: 17px;
   background-color: $red_color;
   width: auto;
   margin: 0 auto;
   padding: 10px 20px;
   border-radius: 20px;
   appearance: none;
   outline: 0;
   border: 1px solid $red_color;
   margin-top: 50px;
   z-index: 3;
  

}

// Header 


// How Dreamshare works

.how_dreamshare_works {
   padding: 100px 25%;
   
}

.hdw_header {
   text-align: center;
   font-size: 26px;
   font-weight: 700;
   font-family: 'Montserrat', sans-serif;
   
   line-height: 31px;

   
}

.hdw_items {

   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 30px;

}

.hdw_item {

   width: 32%;
   background-color: yellowgreen;
   border-radius: 10px;
   height: 400px;
   background-image: url(assets/images/hdw2.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 20px;

   display: flex;
   flex-direction: column;
   position: relative;
   justify-content: flex-end;

}

.hdw_item::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0,0,0,.5);
   z-index: 2;
}

.hdw_item:first-child {
   background-image: url(assets/images/hdw1.png);
}

.hdw_item:last-child {
   background-image: url(assets/images/hdw3.png);
}

.hdw_item_header {
   
   font-family: 'Montserrat', sans-serif;
   font-size: 24px;
   font-weight: 700;
   line-height: 26px;
   margin-top: 50px;
   color: white;
   position: relative;
   z-index: 3;
}

.hdw_item_header::before {
   content: "Step 2";
   display: block;
   position: absolute;
   background-color: $red_color;
   border-radius: 8px;
   font-family: 'Montserrat', sans-serif;
   font-size: 10px;
   font-weight: 400;
   line-height: 12px;
   letter-spacing: 2px;
   padding: 3px 10px;
   top: -50px;
   text-transform: uppercase;
   z-index: 3;
}

.hdw_item_header_first::before {
   content: "Step 1";
   display: block;
   position: absolute;
   background-color: $red_color;
   border-radius: 8px;
   font-family: 'Montserrat', sans-serif;
   font-size: 10px;
   font-weight: 400;
   line-height: 12px;
   letter-spacing: 2px;
   padding: 3px 10px;
   top: -50px;
   text-transform: uppercase;
}
.hdw_item_header_third::before {
   content: "Step 3";
   display: block;
   position: absolute;
   background-color: $red_color;
   border-radius: 8px;
   font-family: 'Montserrat', sans-serif;
   font-size: 10px;
   font-weight: 400;
   line-height: 12px;
   letter-spacing: 2px;
   padding: 3px 10px;
   top: -50px;
   text-transform: uppercase;
}


.hdw_item_footer {

   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 300;
   line-height: 14px;
   margin-top: 30px;
   
   color: $main_text_color;
   z-index: 3;

   

   
}



// How Dreamshare works






// Meet Partner

.meet_partner {

   padding: 0 25%;

}


.partners {

   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 50px;

}

.partner {
   width: 23%;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.partner_photo {
   @mixin flex_custom( $center );
   position: relative;
}

.partner_image {
   border-radius: 50%;
}

.hobby {
   position: absolute;
   top: 80px;
   left: 90px;
} 

.fa-music {
   background-color: $red_color;
   border-radius: 50%;
   padding: 10px;
   border: 3px solid $main_text_color;
   
}

.fa-camera {
   
   background-color: #19D4CA;
   border-radius: 50%;
   padding: 10px;
   border: 3px solid $main_text_color;
}

.fa-paint-brush {
   
   background-color: #FFA710;
   border-radius: 50%;
   padding: 10px;
   border: 3px solid $main_text_color;
}

.fa-paper-plane {
   background-color: #667DF3;
   border-radius: 50%;
   padding: 10px;
   border: 3px solid $main_text_color: #fff;;

}

.partner_name {
   text-align: center;
   margin-top: 20px;

   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 700;
   line-height: 17px;
}

.partner_title {
   text-align: center;
   margin-top: 20px;


   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 300;
   line-height: 14px;
   
   
   color: #B2B2B2;
}


.partners_button {
   display: block;
   margin: 0 auto;
   
   margin-top: 50px;
   outline: none;
   border: 2px solid $red_color;
   background-color: transparent;
   padding: 5px 10px;
   border-radius: 20px;

   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 700;
   line-height: 17px;
   color: $red_color;
}


// Meet Partner


// Holidays

.section_holiday {

   padding: 100px 25%;
}

.holiday_activity {

   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

}

.holiday_activity_item {
   @mixin flex_center();
   min-height: 300px;
   width: 32%;
   background-color: black;
   margin-top: 20px;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;

}

.holiday_activity_item::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0,0,0,.5);
   z-index: 2;
}



.holiday_activity_first {
   background-image: url(assets/images/ideas1.png);
}

.holiday_activity_item_second {
   background-image: url(assets/images/ideas2.png);

}

.holiday_activity_third {

   background-image: url(assets/images/ideas3.png);

}

.holiday_activity_fourth {
   background-image: url(assets/images/ideas4.png);
}

.holiday_activity_item_fifth {
   
   background-image: url(assets/images/ideas5.png);
}



.holiday_activity_item_sixth {

   background-image: url(assets/images/ideas6.png);
}

.holiday_activity_item_seventh {


   background-image: url(assets/images/ideas7.png);
}












.holiday_activity_item_streched {
   width: 66%;
}

.holiday_activity_item_text {
   font-family: 'Montserrat', sans-serif;
   font-size: 22px;
   font-weight: 700;
   line-height: 27px;
   color: $main_text_color;
   text-align: center;
   z-index: 4;
}






// Holidays




// Form


.form_section {

   padding: 0 25%;

}


.form_title {
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 300;
   line-height: 14px;
   margin-top: 40px;
   
   
   color: #B2B2B2;

}



.form_interests {
   @mixin flex_custom( $center );
   flex-wrap: wrap;
   width: 100%;


}

.form_interests_form {
   width: 100%;
   @mixin flex_custom( $center );
   flex-wrap: wrap;
   

}


.form_textarea {

   padding: 5px 10px;
   border: 1px solid lightgray;
   border-color: gray;
   width: 200px;
   height: 30px;
   margin-top: 40px;

}

.search_partners {
   padding: 7px 20px;
   background-color: $red_color;
   color: white;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 700;
   line-height: 17px;
   margin-top: 40px;
   margin-left: 10px;
   outline: none;
   border: 1px solid  $red_color;
   border-radius: 20px;

}

.hr {

   height: 3px;
   width: 100%;
   background-color: $red_color;
   margin: 100px 0 50px 0;
   border:0;
}

// Form


// Foooter

.footer {
   padding: 0 25% 50px 25%;
}

.footer_items {
   @mixin flex_custom( $space-between )
   flex-wrap: wrap;
}

.footer_item {
   width: 25%;

}
.website_name {
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   color: $red_color;
   text-transform: uppercase;
   
}

.nav_links_header {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 700;
   line-height: 17x;

}

.nav_links {
   margin-top: 10px;
}

.nav_link {
   display: flex;
   align-items: center;
   opacity: 0.7;
   
}

.nav_link:hover {
   opacity: 1;
}

.footer_link {

   color: lightgray;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 300;
   line-height: 26px;
   text-decoration: none;
}

.partners_header {
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   font-weight: 700;
   line-height: 17px;
}

.footer_item:last-child {
   @mixin flex_custom( $center, $column )
   
}

.autor {
   font-family: 'Montserrat', sans-serif;
   font-size: 10px;
   font-weight: 700;
   line-height: 12px;
   color: gray;
   letter-spacing: 1px;
}

.footer_logo {

   background-image: url(assets/images/logoAD.png);
   height: 30px;
   background-repeat: no-repeat;
   width: 150px;

}


// Foooter





@media all and (max-width: 1440px) {

   
   .top_header_title {
      width: 45%;
   }

   .hdw_item_header {
      font-family: 'Montserrat', sans-serif;
      font-size: 19px;
      font-weight: 700;
      line-height: 26px;
      margin-top: 50px;
      color: $main_text_color;
      position: relative;
      z-index: 3;
  }

   .hdw_item_footer {
      margin-top: 15px;
   }




   
}
@media all and (max-width: 1080px) {

   
   .top_header_title {
      width: 45%;
   }

   .modal_windows {
      width: 28%;
   }

   .partner {
      width: 50%;
      margin-top: 30px;

   }
   .partner_title {
      padding: 0 10px;
   }

   .how_dreamshare_works {
      padding: 100px 2%;
  }


  .section_holiday {
   padding: 100px 2%;
}

.footer {
   padding: 0 2% 50px 2%;
}




   
}


@media all and (max-width: 768px) {

   .modal_windows {
      width: 40%;
}

.title_text {
   text-align: center;
   font-size: 38px;
   font-weight: 700;
   font-family: 'Montserrat', sans-serif;
   color: white;
   line-height: 52px;
   z-index: 3;
}

.text_subtitle {
   margin-top: 20px;
}

.meet_partner {
   padding: 0px 20%;
}

.form_section {
   padding: 0 15%;
}




}

@media all and (max-width: 655px) {

   .top_header {
      padding: 2%;
   }

   .text_subtitle {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      margin-top: 20px;
      color: white;
      z-index: 3;
  }


  .title_text {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      color: white;
      line-height: 44px;
      z-index: 3;
}

   .nav_bar {
      justify-content: center;
      flex-wrap: wrap-reverse;
      padding-top: 20px;
   }

   .top_header_title {
      width: 100%;
      height: auto;
  }

   .logo {
      width: 100%;
      margin: 70px auto 20px auto;
      text-align: center;
      
   }

   .modal_windows {
      width: 80%;

   }

   .top_header_title {
      width: 100%;
  }


  .how_dreamshare_works {
     padding: 2%;
  }


  .hdw_item {
     width: 100%;
     margin-top: 20px;
     border-radius: 10px;
  }

  .hdw_item::before {

   border-radius: 10px;
  }

  .partner {
   width: 100%;
   margin-top: 30px;
}

.partner_image {
   border-radius: 50%;
   width: 100%;
}

.holiday_activity_item {
   width: 100%;
   border-radius: 10px;
}

.holiday_activity_item::before {
   border-radius: 10px;
}

.holiday_activity_item_streched {
   width: 100%;
   border-radius: 10px;
}

.form_interests {
   width: 80%;
   margin: 0 auto;
}

.search_partners {
   margin: 0;
   margin-top: 20px;
}


.website_name,.nav_links_header,.partners_header {
   text-align: center;
}

.footer_items {
   @mixin flex_custom( $center );
   flex-wrap: wrap;
}

.nav_links {
   @mixin flex_custom( $center );
   flex-wrap: wrap;
   width: 70%;
   margin: 0 auto;


}

.footer_link {
   margin: 0 5px;
}

.footer_item {
   width: 100%;
}



}


