<div style="font-size: 40px; font-weight: 500; background-color: lightgray; padding: 10px; text-align: center;" class="header">ANGULAR list of previous tasks</div>


<div class="homepage--main row mt-5" style="justify-content: space-between; width: 50%; margin: 0 auto;">
    <div class="card" style="width: 18rem;">
        <div class="card_image" style="height: 132px; background-size: contain;background-repeat: no-repeat; background-position: center; background-image: url(assets/images/cenzor.PNG);"></div>
        <div class="card-body">
          <p class="card-text" style="text-align: center;">Cenzor</p>
          <button [routerLink]="[ '/cenzor']" class="btn btn-block btn-success">View more</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card_image" style="height: 132px; background-size: contain;background-repeat: no-repeat; background-position: center; background-image: url(assets/images/tasks.PNG);"></div>
        <div class="card-body">
          <p class="card-text" style="text-align: center;">Task List</p>
          <button [routerLink]="[ '/homework2']" class="btn btn-block btn-success">View more</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card_image" style="height: 132px; background-size: contain;background-repeat: no-repeat; background-position: center; background-image: url(assets/images/users.PNG);"></div>
        <div class="card-body">
          <p class="card-text" style="text-align: center;">Users List</p>
          <button [routerLink]="[ '/homework1']" class="btn btn-block btn-success">View more</button>
        </div>
      </div>
</div>



<!--  -->



