


<h1 class="mt-3">Plan your day!</h1>
<h2 class="mt-3">Count of tasks:{{arrTasks?.length}}.</h2>
<h2>Progress is {{progressBar}} of 100%</h2>

<hr>

<div style="margin: 10px;" class="progress">
  <div class="progress-bar progress-bar-striped bg-dark" [ngStyle]="{'width': progressBar + '%'}" role="progressbar" aria-valuemax="100"></div>
</div>

<form class="f1" name="mainForm" style="padding: 15px;">


    <div style="display: flex;">

        <input [(ngModel)]="addNewTask" name="addNewTask1" type="text" class="form-control" placeholder="Add new task...">
       
        <button (click)="addItem()" style="margin-left: 10px; width: 100px;" class="btn btn-dark">Add</button>
    </div>



    <table class="table mt-4">
        <thead>
            <th>#</th>
            <th>Task</th>
            <th>Check</th>
            <th>Done/In progress</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>

        <tbody>
            <tr *ngFor="let tasks of arrTasks; let i=index">
                <td>{{i+1}}</td>
                <td>{{tasks.taskTitle}}</td>
                <td>
                    <input (change)="checker($event,i)" [checked]="tasks.taskProgress" class="form-check-input" name="checkbox" type="checkbox" value="" id="flexCheckDefault">
                </td>
                <td *ngIf="tasks.taskProgress == true"  style="font-weight: 600;" class="finishedTask">Done</td>
                <td *ngIf="tasks.taskProgress == false" style="font-weight: 600;" class="progressedTask">In Progress</td>
                
                <td>
                    <button (click)="editItem(i)" class="btn btn-warning" type="button">Edit</button>
                </td>
                <td>
                    <button [disabled]='isEdited' (click)="deleteItem(i)" class="btn btn-danger" type="button" >Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="isEdited" class="bottomField mt-2" style="width: 50%; margin: 0 auto; display: flex;">
        <input [(ngModel)]="saveItem" name="saveItem1" type="text" class="form-control">
        <button (click)="replaceItem()" class="btn btn-primary" style="margin-left: 10px;">Save</button>
    </div>
</form>

